<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="../images/favicon.png"  type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css"/>  
    <link rel="stylesheet" href="/css/mediaqueries.css"/>  
  </head>
  <% if(title === 'Modern Stays') {%> 
    <body class="<%=page%>">
    <% } else{ %>
      <body class="stays" id="<%=page%>"> 
      <% } %> 
    <%- include('../partials/navbar')  %> 
    <main class="page-content">
    
       <%- body -%>
     
    </main>
<%- include('../partials/footer') %> 
    <%- block('calendar').toString() %>
    <%- block('script').toString() %>
  </body>
</html>
