<% layout('/layouts/boilerplate') -%>
<%- include('../partials/form') %> 
<section class="container search-page">

<% stays.forEach(stay => { %>
  <div class="search-card" >
    <div class="card-div">
      <img src="<%=stay.image%>" alt="" />
    </div>
    <div class="card-div">
       <h2><%=stay.title%></h2>
       <p class="description"><%=stay.description.slice(0,100)%>...</p>
       <span class="location"><%=stay.location%></span>
       <div class="info">
           <a href="/stays/<%=stay.id%>" target="_blank" class="search-link">view</a>
           <p><b>$<%=stay.price%></b>/night</p>
       </div>
    </div>
  </div>
<% }) %>
</section>

<% block('navBar').append('<script src="/js/calendar.js"></script>') %>
<% block('script').append('<script src="/js/script.js"></script>') %>