<% layout('/layouts/boilerplate') -%>
<%- include('../partials/form') %> 
<section class="container search-page">
  <input type="checkbox" name="toggleMap" id="toggleMap">
  <label for="toggleMap" class="toggleMap">show map <span style="font-size: 1.2em;">&#127987</span></label>
  <section class="staysList">
<% if(stays.length === 0) {%>
    <h1>NO STAYS FOUND FOR "<span style="color: #fd705d;"><%= location.toUpperCase() %></span>" </h1> 
<% } else{ %> 

    <section class="filters">
      <div class="sort-by">
        <p>Sort by</p>
        <input type="text" value="<%=sortBy||'Relevance'%>" readonly>
        <input type="hidden" name="sorts" id="sorts" value="<%=sorts%>" readonly>
        <span class="arrow-down">&#9660;</span>
        <ul class="sort-options">
          <li>
              <a href="#">
                <input type="radio" name="sort" class="sort-radios" id="relevance" value="asc">
                <label for="relevance">Relevance</label>
              </a>
          </li>
          <li>
              <a href="#">
                <input type="radio" name="sort" class="sort-radios" id="newest" value="desc">
                <label for="newest">Newest</label>
              </a>
          </li>
        </ul>
      </div>

      <div class="filter">
        <p>Ratings</p>
        <input type="text" value="<%=rate||'All'%>" readonly>
        <input type="hidden" name="ratings" id="ratings" value="<%=rating%>" readonly>
        <span class="arrow-down">&#9660;</span>
        <ul class="rating-options">
          <li>
              <a href="#">
                <input type="radio" name="rating" class="filter-radios" id="all" value="0">
                <label for="all">All</label>
              </a>
          </li>
          <li>
              <a href="#">
                <input type="radio" name="rating" class="filter-radios" id="three-star" value="3">
                <label for="three-star">★★★ 3+</label>
              </a>
          </li>
          <li>
            <a href="#">
              <input type="radio" name="rating" class="filter-radios" id="four-star" value="4">
              <label for="four-star">★★★★ 4+</label>
            </a>
        </li>
        </ul>
      </div>
    </section>
    
    <input type="hidden" name="checkInDate" value="<%=checkInDate%>" class="view-stay_input">
    <input type="hidden" name="checkOutDate" value="<%=checkOutDate%>" class="view-stay_input">
    <input type="hidden" name="noDate" value="true" class="view-stay_input">


   <% stays.forEach(stay => { %>
      <div class="search-card" >
          <% if(stay.images.length > 1){ %> 
            <div class="card-div carousel_scene" id="<%=stay.title.replace(/ /g,'')%>">
              <a class="carousel_prevBtn carousel_Btn" role="button">&lsaquo;</a>
              <a class="carousel_nxtBtn carousel_Btn" role="button">&rsaquo;</a>
              <div class="carousel">
                <% stay.images?.forEach(image => { %> 
                  <div class="carousel-cell">
                    <img src="<%=image.url%>" alt="stay-photos" />  
                  </div>
                <% } ) %> 
              </div> 
            </div>      
          <% } else{%> 
            <div class="card-div">
              <img src="<%=stay.images[0]?.url || "https://res.cloudinary.com/dqhszkxiy/image/upload/v1634738564/ModernStays/No-picture_pp12rv.gif"%>" alt="stay-photos" />  
            </div>
          <% } %>

        <div class="card-div">

          <h2><%=stay.title%></h2>
          <% if(stay.reviews.length && stay.rating > 0) { %> 
              <p role="doc-tip" aria-roledescription="average-rating" class="average-rating">
                <span style="color: #fd705d; font-size: 1em;">&bigstar;</span>  
                <%=stay.rating?.toFixed(2)%>    
                <span style="opacity: .5;">(<%= stay.reviews.length %> <% if(stay.reviews.length >1) {%>reviews <% }else{ %>review <% } %>   ) </span>
              </p>
          <% } %>
          <p class="description"><%=stay.description.slice(0,100)%>...</p>
          <span class="location"><%=stay.location%></span>
          <div class="view-button">
            <form action="/stays/<%=stay.id%>" id='<%=stay.title%>' target="_blank" class="view-stay">
              <button class="show-link">view</button>
            </form>  
            <p><b>$<%=parseFloat(stay.price)%></b>/night</p>
          </div>
          
        </div>
    
      </div>
  <% }) %>

  <nav class="paginators">
    <a role="button" data-location="<%=location%> " class="prev-page page">&#10094;</a>
    <input type="hidden" name="page_offset" value="<%=page_offset%>" id="skips">
    <span role="doc-tip" data-count="<%= stayCount %>" > <%=(page_offset * 5) + 1%> - <%=page_offset * 5 + stays.length%> of <%= stayCount %> <%=stayCount>1?'Stays':'Stay'%></span>
    <a role="button" data-location="<%=location%> " class="next-page page">&#10095;</a>
  </nav>
<% } %> 
  </section>
  <div id="map"></div>
</section>

<%- include('../partials/scripts') %> 

