<% layout('/layouts/boilerplate') -%>
<%- include('../partials/form') %> 
<section class="show-wrapper">
  <div class="stay-details">

    <div class="stay-info">
      <div class="stay-title">
        <h2> <%= stay.title %> </h2>
        <p class="muted stay-details__location"><%= stay.location %>. </p>
      </div>

      <p role="contentinfo" class="stay-details__price">$<b class="price"><%=parseFloat(stay.price)%></b>/night</p>

      
        <% if(stay.images.length>1){ %> 
          <div class="container__show-image carousel_scene" id="<%=stay.title.replace(/ /g,'')%>">
            <a class="carousel_prevBtn carousel_Btn" role="button">&lsaquo;</a>
            <a class="carousel_nxtBtn carousel_Btn" role="button">&rsaquo;</a>
            <% if(`${stay?.host}` === `${currentUser?._id}`){ %> 
            <a href="/stays/<%= stay._id %>/edit/images" class="editImageBtn">Edit Images</a>
            <% } %> 
            <div class="carousel">
              <% stay.images?.forEach(image => { %> 
                <div class="carousel-cell">
                  <img src="<%=image.url%>" alt="stay-photos" />  
                </div>
              <% } ) %> 
            </div>       
          </div>
        <% } else{%> 
          <div class="container__show-image">
            <% if(`${stay?.host}` === `${currentUser?._id}`){ %> 
              <a href="/stays/<%= stay._id %>/edit/images" class="editImageBtn">Edit Images</a>
              <% } %>
            <img src="<%=stay.images[0]?.url || "https://res.cloudinary.com/dqhszkxiy/image/upload/v1634738564/ModernStays/No-picture_pp12rv.gif"%>" alt="stay-photos" />  
          </div>
        <% } %> 
      

      
      <p class= "stay-details__description"><%=stay.description%></p>
      <% if(`${stay?.host}` === `${currentUser?._id}`){ %> 
      <a class="update-form__link" href='/stays/<%=stay._id%>/update'>Update Listing</a>
      <form action="/stays/<%=stay._id%>?_method=DELETE" method="POST" class="stay-delete_form">
        <button class="delete-button">Remove listing</button>
      </form>
      <% } %> 
    </div>

    <div class="book-form_container">
      <form action="/stays/<%=stay._id%>/bookings" method='POST' class="book-form <%=bookErrors[0]%>" id="booking" novalidate>
        <div class="booking-info">
          <div class="form-group">
          <label for="lodge-in" class="lodge-label lodge-in-label">Lodge-in</label>
          <p class="lodge-date_str lodge-in-date <%=checkIn?'selected-date':''%>">
            <%= checkIn||'check-in-date'%>
          </p>
          <input type="hidden" value="<%=checkInDate%>" name="lodgeIn" id="lodge-in" class="lodgeDate" required>
          </div>
          <div class="form-group">
          <label for="lodge-out" class="lodge-label lodge-out-label">Lodge-out</label>
          <p class="lodge-date_str lodge-out-date <%=checkOut?'selected-date':''%>">
            <%=checkOut||'check-out-date'%>
          </p>
          <input type="hidden" name="lodgeOut" value="<%=checkOutDate%>" id="lodge-out" class="lodgeDate" required>
          </div>
          <div class="book-price form-group">
            <p class="totalPrice-label">Total Price</p>
            <p class="totalPrice"></p>
            <input type="hidden" name="totalFee" id="totalFee" required>
          </div>
        </div>
        <button type="submit" class="book-btn">Book</button> 
      </form>
      <% if(bookErrors.length > 0) { %> 
        <% for(let i = 1; i < bookErrors.length; i++){ %>   
        <small class="invalid booking-error"><%=bookErrors[i]%></small>
        <% } %>  
      <% } %> 

    </div>

  </div>

  <div class="reviews-container">
    <% if(reviews.length) { %>
    <h2>Ratings & Reviews</h2>
    <p role="doc-tip" aria-roledescription="average-rating" class="average-rating">
      <span style="color: #fd705d; font-size: 1em;">&bigstar;</span>  
      <%= stay.rating?.toFixed(2) %> 
      <span>(<%= stay.reviews.length %> <% if(stay.reviews.length >1) {%>reviews <% }else{ %>review <% } %>   ) </span>
    </p>     
    <div id="reviews">
        <% for (let i = 0; i < 5 ; i++){ %>
          <% if(reviews[i]) {%>
        <div class="review">
          <p class="reviewer"> @<%= reviews[i].user.username%> </p>
          <div class='review-text'>
            <p class="rating">
              Rating is <%=reviews[i].rating%>
              <span class="rating_stars" data-rating="<%=reviews[i].rating%>">★★★★★</span>
            </p>
            <p class="comment"><span>Comment:</span> <%= reviews[i].comment %></p>
          </div>
          <% if(`${reviews[i]?.user._id}` === `${currentUser?._id}`){ %> 
          <p>
            <form action="/stays/<%=stay._id%>/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
              <button class="review-delete">Delete</button>
            </form>
          </p>
          <% } %> 
        </div>
        <% } %>
        <% } %>  
      </div>

      <label class="show-reviews" for="show-radio">Show all <%=reviews.length%>  reviews &#10095;</label>
      <input type="radio"  name="toggle-review" id="show-radio">
      
      <div class="modal-cover"></div>
      <div class="reviews-modal">
        <h2> 
          <span> 
            <span style="color: #fd705d; font-size: 1em;">&bigstar;</span>  
          </span> <%= stay.rating?.toFixed(2) %> &bull; <%=reviews.length%>  reviews
        </h2>
        <div class="modal-review">
        <% for (let i = 0; i < reviews.length ; i++){ %>
          <div class="review">
            <p class="reviewer">@<%= reviews[i].user.username%> </p>
            <div class='review-text'>
              <p class="rating">
                Rating is <%=reviews[i].rating%>
                <span class="rating_stars" data-rating="<%=reviews[i].rating%>">★★★★★</span>
              </p>
              <p  class="comment"><span>Comment:</span> <%= reviews[i].comment %></p>
            </div>
            <% if(`${reviews[i]?.user._id}` === `${currentUser?._id}`){ %> 
              <p>
                <form action="/stays/<%=stay._id%>/reviews/<%=reviews[i]._id%>?_method=DELETE" method="POST">
                  <button class="review-delete">Delete</button>
                </form>
              </p>
            <% } %> 
          </div>
          <% } %> 
        </div>
        <label class="hide-reviews" for="hide-radio"><span>&#10006;</span></label>
        <input type="radio" name="toggle-review" id="hide-radio">        
      </div>
      <% } %> 

      <% if(currentUser){ %>      
      <div class="review-form_container">
        <h2>Leave a Review</h2>
        <form action="/stays/<%=stay._id%>/reviews" id="review-form" class="<%=review_formStatus%> post-form" method="POST" novalidate>
          <div class="review-form">
            <label for="rating">Rating:</label>
            <div class="slider-input">
              <p role="slider" aria-roledescription="rating slider" id="star-range">★★★★★</p>
              <input type="hidden" name="rating" class="review-form_input" id="rating" required>
            </div>
          </div>
          <div class="review-form">
            <label for="comment">Comment:</label>
            <textarea name="comment" id="comment" minlength="2" title="comment must contain at least 2 characters" class="review-form_input form_input" cols="20" rows="10" required></textarea>
            <% if(!reviewErrors?.length){ %>             
                <small class="validity-feedback"></small>
            <% } %>        
            <% if(reviewErrors.length){ %> 
              <% reviewErrors.forEach(error =>{ %> 
                <% if(error){ %> 
                <small class="validity-feedback"><%=error%></small>
                <% } %> 
              <% }) %> 
            <% } %> 
            
          </div>
          <button class="review-form_button">Submit</button>
        </form>
      </div>
      <% } %> 
  </div>

  <% bookings.forEach(booking =>{%> 
    <form action="/stays/<%=stay._id%>/bookings/<%=booking._id%>?_method=DELETE" method="post">
      <button>delete</button>
    </form>
  <%}) %> 

</section>

<% block('calendar').append('<script src="/scripts/calendar.js"></script>') %>
<% block('script').append('<script src="/scripts/script.js"></script>') %>