<% layout('/layouts/boilerplate') -%>
<section class="listing-form__container">
    <h1>Update listing</h1>
    <form action="/stays/<%=stay._id%>?_method=PUT" method="POST" class="listing-form">
        <div class="listing-form__group">
            <label for="title">Title</label>
            <input type="text" name="title" value="<%=stay.title%>" id="title" class="input">
        </div>
        <div class="listing-form__group">
            <label for="location">Location</label>
            <input type="text" name="location" value="<%=stay.location%>" id="listing-form__location" class="input">
        </div>
        <div class="listing-form__group">
            <label for="image">Image</label>
            <input type="text" name="image" id="image" value="<%=stay.image%>" class="input">
        </div>
        <div class="listing-form__group">
            <label for="price">Price</label>
            <div class="input-group">
                <span id="price-label">&dollar;</span>
                <input type="text" name="price" placeholder="0.00" value="<%=stay.price%>.00" id="price" class="input" aria-describedby="price-label">
            </div>
        </div>
        <div class="listing-form__group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="input"rows="3"><%=stay.description%></textarea>
        </div>
        <button class="listing-form__btn">Update</button>
    </form>
    <a href="/stays/<%=stay._id%>" class="listing-form__back-link">Back to listing</a>
</section>    
    <% block('script').append('<script src="/js/script.js"></script>') %>