<% layout('/layouts/boilerplate') -%>
<section class="listing-form__container">
    <% if(error && error.length) {%> 
        <small class="validity-feedback invalid error"><%= error  %></small>
    <% } %> 
    <h1>Update listing</h1>
    <form action="/stays/<%=stay._id%>?_method=PUT" method="POST" class="listing-form post-form <%=formStatus%>" spellcheck="false"  novalidate>
        <div class="listing-form__group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="listing-form_input form_input" value="<%=stayInfo.title?.value||stay.title%>" pattern="^[a-zA-Z0-9\s,.'-]{3,}$" title="Must contain three or more characters" required>
            <small class="validity-feedback"><%=stayInfo.title?.error%></small>
        </div>
        <div class="listing-form__group">
            <label for="location">Location</label>
            <input type="text" name="location" id="form-location" class="listing-form_input form_input" value="<%=stayInfo.location?.value||stay.location%>" pattern="^[a-zA-Z0-9\s,.'-]{3,}$" title="Must contain three or more characters" required>
            <small class="validity-feedback"><%=stayInfo.location?.error%></small>
        </div>
        <div class="listing-form__group">
            <label for="image">Image</label>
            <input type="url" name="image" id="image-url" class="listing-form_input form_input" value="<%=stayInfo.image?.value||stay.image%>" title="image must be a valid url" required>
            <small class="validity-feedback"><%=stayInfo.image?.error%></small>
        </div>
        <div class="listing-form__group">
            <label for="price">Price</label>
            <div class="dollar-sign">
                <span id="price-label">&dollar;</span>
            </div> 
            <input type="text" name="price" placeholder="0.00" id="price" class="listing-form_input form_input" aria-describedby="price-label" value="<%=stayInfo.price?.value||stay.price%>" pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" title="Must be a valid US price format" required>
            <small class="validity-feedback"><%=stayInfo.price?.error%></small>
        </div>
        <div class="listing-form__group">
            <label for="description">Description</label>
            <textarea name="description" id="description"  class="listing-form_input textarea form_input" rows="8" minlength="10" title="description must contain at least ten characters without special characters except . , ' -" required
            ><%=stayInfo.description?.value||stay.description.trim()%></textarea>
            <small class="validity-feedback"><%=stayInfo.description?.error%></small>
        </div>
        <button class="listing-form__btn">Update Listing</button>
    </form>
    <a href="/stays/<%=stay._id%>" class="listing-form__back-link">Back to listing</a>
</section>    
    <% block('script').append('<script src="/scripts/script.js"></script>') %> 