<% layout('/layouts/boilerplate') -%>
<section class="profile-page">
    <div class="profile-card">
        <header>
            <h1>My Profile</h1>
        </header>
        <div class="profile-info">
            <h2 class="username">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg><%= currentUser.username %>
            </h2>
            <h2 class="email">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg><%= currentUser.email %>
            </h2>
        </div>

        <div class="mystays">
            <section class="expandbutton">
                <input type="checkbox" id="mystays" name="mystays">
                <label for="mystays"> My Stays </label>
                <div class="mylist">
                  <% if(stays.length) { %> 
                    <div class="user-stays">
                        <% stays.forEach(stay=>{ %> 
                           <ul class="user-stay">
                               <li class="name">
                                   <%= stay.title %><br>
                                   <span><%=  stay.location %></span>  
                                </li>                             
                               <a href="/stays/<%=stay._id%>" target="_blank" class="user-stay_link">view</a>
                           </ul>
                        <% }) %>                       
                    </div>
                  <% }else{ %> 
                    <p>You haven't posted a listing yet. Click 
                        <a href="/stays/new" style="color: #0d6efd; text-decoration:underline;">add stay</a> to add a stay.</p>
                  <% } %>     
                </div>
            </section>
        </div>

        <div class="mybookings">
            <section class="expandbutton">
                <input type="checkbox" id="mybookings" name="mybookings">
                <label for="mybookings"> My Bookings</label>
                <div class="mylist">
                  <% if(bookings.length) { %>                 
                    <div class="user-bookings">
                        <p style="font-style: italic;">&ast;<span style="color: #0d6efd; font-size: .8em;"> click on a red button to cancel booking before check-in day</span></p>
                        <p style="font-style: italic;">&ast;<span style="color: #0d6efd; font-size: .8em;"> you can view a stay by clicking on the name</span></p>
                        <% bookings.forEach(booking=>{ %> 
                           <ul class="user-booking">
                               <li class="booking-stay">
                                   <a href="/stays/<%=booking.stay._id%>" target="_blank">
                                    <%= booking.stay.title %> <br>
                                    <span><%=  booking.stay.location %></span>
                                   </a>
                                </li>
                               <li class="booking-lodge">
                                <%= booking.lodgeIn.toLocaleString('en-us',{timeZone:'UTC',dateStyle:'short'}) %> -
                                <%= booking.lodgeOut.toLocaleString('en-us',{timeZone:'UTC',dateStyle:'short'}) %> 
                               </li> 
                               <% if(new Date(booking.lodgeIn) > new Date()) { %> 
                        <form action="/stays/<%=booking.stay._id%>/bookings/<%= booking._id %>?_method=DELETE" method="POST">
                                <button id="cancel-btn">&Otimes;</button>                            
                        </form>
                               <%  } else if(new Date(booking.lodgeOut) < new Date()) {%>   
                                    <p style="color: #198754;">completed ✓</p>
                               <%  }  %>                         
                           </ul>
                        <% }) %>                       
                    </div>
                  <% }else { %>
                    <p>You have no bookings at this time.</p>
                  <% } %>     
                </div>
            </section>
        </div>

        <form action="/user/<%=currentUser._id%>?_method=DELETE" method="post" id="actDelete-form">
            <button class="delete-button" id="actDelete-btn">Delete my account</button>
        </form>  
        
    </div>

</section>
   
<% block('script').append('<script src="/scripts/script.js"></script>') %>